In [ ]:
import numpy as np
import pandas as pd

In [ ]:
air_quality=pd.read_csv("Air_Quality.csv")
air_quality

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
0,172653,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,203,Bedford Stuyvesant - Crown Heights,Annual Average 2011,12/01/2010,25.30,NaN
1,172585,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,203,Bedford Stuyvesant - Crown Heights,Annual Average 2009,12/01/2008,26.93,NaN
2,336637,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,204,East New York,Annual Average 2015,01/01/2015,19.09,NaN
3,336622,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,103,Fordham - Bronx Pk,Annual Average 2015,01/01/2015,19.76,NaN
4,172582,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,104,Pelham - Throgs Neck,Annual Average 2009,12/01/2008,22.83,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
16213,130750,647,Outdoor Air Toxics - Formaldehyde,Annual average concentration,µg/m3,UHF42,211,Williamsburg - Bushwick,2005,01/01/2005,3.10,NaN
16214,130780,647,Outdoor Air Toxics - Formaldehyde,Annual average concentration,µg/m3,Borough,5,Staten Island,2005,01/01/2005,2.30,NaN
16215,131020,652,Cardiac and respiratory deaths due to Ozone,Estimated annual rate,"per 100,000",UHF42,504,South Beach - Tottenville,2005-2007,01/01/2005,7.50,NaN
16216,131026,652,Cardiac and respiratory deaths due to Ozone,Estimated annual rate,"per 100,000",Borough,5,Staten Island,2005-2007,01/01/2005,7.80,NaN
16217,325247,643,Annual vehicle miles traveled,million miles,per km2,CD,107,Upper West Side (CD7),2016,01/01/2016,50.00,NaN

In [ ]:
air_quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16218 entries, 0 to 16217
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unique ID       16218 non-null  int64
 1   Indicator ID    16218 non-null  int64
 2   Name            16218 non-null  object
 3   Measure         16218 non-null  object
 4   Measure Info    16218 non-null  object
 5   Geo Type Name   16218 non-null  object
 6   Geo Join ID     16218 non-null  int64
 7   Geo Place Name  16218 non-null  object
 8   Time Period     16218 non-null  object
 9   Start_Date      16218 non-null  object
 10  Data Value      16218 non-null  float64
 11  Message         0 non-null      float64
dtypes: float64(2), int64(3), object(7)
memory usage: 1.5+ MB

In [ ]:
air_quality.head(10)

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
0,172653,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,203,Bedford Stuyvesant - Crown Heights,Annual Average 2011,12/01/2010,25.30,NaN
1,172585,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,203,Bedford Stuyvesant - Crown Heights,Annual Average 2009,12/01/2008,26.93,NaN
2,336637,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,204,East New York,Annual Average 2015,01/01/2015,19.09,NaN
3,336622,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,103,Fordham - Bronx Pk,Annual Average 2015,01/01/2015,19.76,NaN
4,172582,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,104,Pelham - Throgs Neck,Annual Average 2009,12/01/2008,22.83,NaN
5,667327,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,104,Pelham - Throgs Neck,Annual Average 2020,01/01/2020,16.19,NaN
6,172607,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,306308,Chelsea-Village,Annual Average 2009,12/01/2008,38.16,NaN
7,172675,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,306308,Chelsea-Village,Annual Average 2011,12/01/2010,34.96,NaN
8,175345,375,Nitrogen dioxide (NO2),Mean,ppb,UHF42,206,Borough Park,Winter 2010-11,12/01/2010,30.10,NaN
9,176689,375,Nitrogen dioxide (NO2),Mean,ppb,UHF42,206,Borough Park,Annual Average 2013,12/01/2012,20.23,NaN

In [ ]:
#1.Data Cleaning:
#printing the null values
null_values=air_quality.isnull().sum()
print(null_values)

Unique ID             0
Indicator ID          0
Name                  0
Measure               0
Measure Info          0
Geo Type Name         0
Geo Join ID           0
Geo Place Name        0
Time Period           0
Start_Date            0
Data Value            0
Message           16218
dtype: int64

In [ ]:
# Convert 'Message' column to object type
air_quality['Message'] = air_quality['Message'].astype('object')

# Fill missing values with "Message is not given"
air_quality['Message'].fillna("Message is not given", inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_5668\3760317729.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  air_quality['Message'].fillna("Message is not given", inplace=True)

In [ ]:
air_quality.head(10)

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
0,172653,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,203,Bedford Stuyvesant - Crown Heights,Annual Average 2011,12/01/2010,25.30,Message is not given
1,172585,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,203,Bedford Stuyvesant - Crown Heights,Annual Average 2009,12/01/2008,26.93,Message is not given
2,336637,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,204,East New York,Annual Average 2015,01/01/2015,19.09,Message is not given
3,336622,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,103,Fordham - Bronx Pk,Annual Average 2015,01/01/2015,19.76,Message is not given
4,172582,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,104,Pelham - Throgs Neck,Annual Average 2009,12/01/2008,22.83,Message is not given
5,667327,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,104,Pelham - Throgs Neck,Annual Average 2020,01/01/2020,16.19,Message is not given
6,172607,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,306308,Chelsea-Village,Annual Average 2009,12/01/2008,38.16,Message is not given
7,172675,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,306308,Chelsea-Village,Annual Average 2011,12/01/2010,34.96,Message is not given
8,175345,375,Nitrogen dioxide (NO2),Mean,ppb,UHF42,206,Borough Park,Winter 2010-11,12/01/2010,30.10,Message is not given
9,176689,375,Nitrogen dioxide (NO2),Mean,ppb,UHF42,206,Borough Park,Annual Average 2013,12/01/2012,20.23,Message is not given

In [ ]:
null_values=air_quality.isnull().sum()
print(null_values)
#all null values has been removed.

Unique ID         0
Indicator ID      0
Name              0
Measure           0
Measure Info      0
Geo Type Name     0
Geo Join ID       0
Geo Place Name    0
Time Period       0
Start_Date        0
Data Value        0
Message           0
dtype: int64

In [ ]:
#giving date time format for "Start_Date" Column
air_quality['Start_Date'] = pd.to_datetime(air_quality['Start_Date'], errors='coerce')
air_quality.head(10)

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
0,172653,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,203,Bedford Stuyvesant - Crown Heights,Annual Average 2011,2010-12-01,25.30,Message is not given
1,172585,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,203,Bedford Stuyvesant - Crown Heights,Annual Average 2009,2008-12-01,26.93,Message is not given
2,336637,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,204,East New York,Annual Average 2015,2015-01-01,19.09,Message is not given
3,336622,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,103,Fordham - Bronx Pk,Annual Average 2015,2015-01-01,19.76,Message is not given
4,172582,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,104,Pelham - Throgs Neck,Annual Average 2009,2008-12-01,22.83,Message is not given
5,667327,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,104,Pelham - Throgs Neck,Annual Average 2020,2020-01-01,16.19,Message is not given
6,172607,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,306308,Chelsea-Village,Annual Average 2009,2008-12-01,38.16,Message is not given
7,172675,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,306308,Chelsea-Village,Annual Average 2011,2010-12-01,34.96,Message is not given
8,175345,375,Nitrogen dioxide (NO2),Mean,ppb,UHF42,206,Borough Park,Winter 2010-11,2010-12-01,30.10,Message is not given
9,176689,375,Nitrogen dioxide (NO2),Mean,ppb,UHF42,206,Borough Park,Annual Average 2013,2012-12-01,20.23,Message is not given

In [ ]:
# remove duplicate value
air_quality.drop_duplicates(inplace=True)
air_quality.head(5)

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
0,172653,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,203,Bedford Stuyvesant - Crown Heights,Annual Average 2011,2010-12-01,25.30,Message is not given
1,172585,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,203,Bedford Stuyvesant - Crown Heights,Annual Average 2009,2008-12-01,26.93,Message is not given
2,336637,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,204,East New York,Annual Average 2015,2015-01-01,19.09,Message is not given
3,336622,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,103,Fordham - Bronx Pk,Annual Average 2015,2015-01-01,19.76,Message is not given
4,172582,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,104,Pelham - Throgs Neck,Annual Average 2009,2008-12-01,22.83,Message is not given

In [ ]:
#2.Data Transformation
# one-hot encoding(categorical into numerical format )
pd.get_dummies(air_quality, columns=['Geo Type Name', 'Geo Place Name','Name'], drop_first=True)

,Unique ID,Indicator ID,Measure,Measure Info,Geo Join ID,Time Period,Start_Date,Data Value,Message,Geo Type Name_CD,...,Name_Boiler Emissions- Total SO2 Emissions,Name_Cardiac and respiratory deaths due to Ozone,Name_Cardiovascular hospitalizations due to PM2.5 (age 40+),Name_Deaths due to PM2.5,Name_Fine particles (PM 2.5),Name_Nitrogen dioxide (NO2),Name_Outdoor Air Toxics - Benzene,Name_Outdoor Air Toxics - Formaldehyde,Name_Ozone (O3),Name_Respiratory hospitalizations due to PM2.5 (age 20+)
0,172653,375,Mean,ppb,203,Annual Average 2011,2010-12-01,25.30,Message is not given,False,...,False,False,False,False,False,True,False,False,False,False
1,172585,375,Mean,ppb,203,Annual Average 2009,2008-12-01,26.93,Message is not given,False,...,False,False,False,False,False,True,False,False,False,False
2,336637,375,Mean,ppb,204,Annual Average 2015,2015-01-01,19.09,Message is not given,False,...,False,False,False,False,False,True,False,False,False,False
3,336622,375,Mean,ppb,103,Annual Average 2015,2015-01-01,19.76,Message is not given,False,...,False,False,False,False,False,True,False,False,False,False
4,172582,375,Mean,ppb,104,Annual Average 2009,2008-12-01,22.83,Message is not given,False,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16213,130750,647,Annual average concentration,µg/m3,211,2005,2005-01-01,3.10,Message is not given,False,...,False,False,False,False,False,False,False,True,False,False
16214,130780,647,Annual average concentration,µg/m3,5,2005,2005-01-01,2.30,Message is not given,False,...,False,False,False,False,False,False,False,True,False,False
16215,131020,652,Estimated annual rate,"per 100,000",504,2005-2007,2005-01-01,7.50,Message is not given,False,...,False,True,False,False,False,False,False,False,False,False
16216,131026,652,Estimated annual rate,"per 100,000",5,2005-2007,2005-01-01,7.80,Message is not given,False,...,False,True,False,False,False,False,False,False,False,False
16217,325247,643,million miles,per km2,107,2016,2016-01-01,50.00,Message is not given,True,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
# Extract the year from 'Start_Date'
air_quality['Start_Date'].dt.year

0        2010
1        2008
2        2015
3        2015
4        2008
         ...
16213    2005
16214    2005
16215    2005
16216    2005
16217    2016
Name: Start_Date, Length: 16218, dtype: int32